{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if cat %}
<div class="container-fluid text-center neon">
<h2>{{cat.name}}</h2>
</div>
{% else %}
<div class="container carou_sel   py-3" style=" ">

        <img src="{% static 'image/LoveatFirstBitebanner.webp' %}" class=" " alt="...">
      
  </div>
  {% endif %}



<div class="container-fluid d-flex flex-wrap justify-content-center">
  {% for i in product %}
  <a href="{% url 'app:details' i.id %}">
  <div class="w3-card-4 cardone mx-2 mt-2  p-2 ">
    <img src="{{i.image.url}}" alt="Alps">
    <div class="w3-container w3-center ms-2 mt-4">
      <h2>{{i.name}} </h2>
      <h4 class="text-danger"> &#8377 {{i.price}}</h4>
      
    </div>
  </div>
</a>
  {% endfor %}
</div>


{% endblock %}