{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container carou_sel py-4 mx-auto w-100" style=" ">

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active " data-bs-interval="2000">
        <img src="{% static 'image/bake home (1).jpg' %}" class="d-block " alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'image/bake home (2).jpg' %}" class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/bake home.jpg' %}" class="d-block " alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>



<div class="container-fluid d-flex flex-wrap">
  {% for i in product %}
  <div class="w3-card-4 cardone mx-auto my-3  p-2">
    <img src="{{i.image.url}}" alt="Alps">
    <div class="w3-container w3-center ms-2 mt-4">
      <h2>{{i.name}} </h2>
      <h4>{{i.price}}</h4>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}